{{yield}}

<div class="well well-sm">
  <p class="lead">{{thoughts}}</p>
</div>

<small>
Character Count: <strong>{{thoughts.length}}</strong>
</small>

<hr>

<button type="button" class="btn btn-primary" {{action 'changeThoughts'}}>More Thoughts</button>
<button type="button" class="btn btn-info" {{action 'addFavorite' thoughts}}>Add Favorite</button>

<hr />
{{#if favorites}}
  <ul>
  {{#each favorites as |fav|}}
    <li>{{fav}}</li>
  {{/each}}
  </ul>
{{/if}}
