{{yield}}

<div class="well well-sm">
  <p class="lead">{{thoughts}}</p>
</div>

{{#if debug}}
<small>
Character Count: <strong>{{thoughts.length}}</strong>
<br>
Sentence Stucture: <br>
<ul class="list-inline">
  {{#each-in diagram as |k v|}}
    <li>
      <dl>
        <dt>{{k}}</dt>
        <dd>{{v}}</dd>
      </dl>
    </li>
  {{/each-in}}
</ul>


</small>
{{/if}}
<hr>

<button type="button" class="btn btn-primary" {{action 'changeThoughts'}}>More Thoughts</button>
<button type="button" class="btn btn-info" {{action 'addFavorite' thoughts}}>Add To Favorites</button>


<hr />
{{#if favorites}}
  <h4>Favorites</h4>
  <ul class="list-group">
  {{#each favorites as |fav|}}
    <li class="list-group-item">
      <ul class="list-inline">
        <li>
          <button type="button" class="btn btn-danger btn-xs" {{action 'removeFavorite' fav}}>
            Remove
          </button>
        </li>
        <li>
          {{fav}}
        </li>
      </ul>
    </li>
  {{/each}}
  </ul>
{{/if}}
